<div class="container-fluid">
  <h1>About </h1>
  <i><blockquote style="font-face:oblique"> "I'm not offering a Solution to a problem, if your looking for a Solution, you continue to acknowledge a
    problem. I'm softly saying shift your perspective, and the problem will disappear, making the solution no longer necessary."
  </blockquote></i>



  <p> My name is Daniel S. Tarantini. I'd like to introduce myself, to say perhaps a few things that I am, such as: a world
    traveler, a programmer, a fitness enthusiast, an Artist, a writer, a speaker. Though in saying that, I don't believe you really
    get a clear idea of who I am. Those are things I do, those activities are ones which I am deeply passionate about. Who I am,
    is ever-changing, being shaped right now. I believe in seeking a concrete definition of who we are, we lose the ability to become
    what is necessary for the achieve of our innermost goals and dreams. So instead I will tell you the reason behind creating
    innerstrengthaudios.com.
  </p>
<p>
    I have always sought to improve myself, to constantly seek out books, articles, etc. which makes the
    experience of life richer. As I've gained experience and built a store of valuable information, I've come to realizations.
    Those realizations would take years before being put into practice. Around 2 years ago, I began a period of depression, hopelessness,
    and just an overall indifference to anything that was taking place. I began listening to inspirational audios. Noticing the
    change that took place, I listened more often finding hour long audios, until I was relistening to them, until I was seeing the world
     differently, seeing myself differently. An inner strength started to build in me, I was becoming more confident, more active,
     achieving more on multiple fronts of my life. The simple shift, that listening to audios provided me, changed every area of my life.
     Fast forward to today>>>
     <ul style="padding:8px">
       <li> I am able to deal with the emotional, and mental difficulties that is inherent in daily life, without losing focus
         of the most important aspects. Managing pain, and keeping forward positive momentum through the challenges.
       </li>
       <li style="padding:8px"> I am in a relationship with a wonderful woman, who despite the difficulties that arise in every realationship, we are
        commited to each other, and grow stronger everday.If you are interested more in how we make our
        relationship work check out www.Oenomel.us. If your interested in what we are up to, check out our <a href="https://www.instagram.com/oenomel.us/">
          instagram</a>.
       </li>
       <li> I am in better shape than have in years, maybe ever, this again is improving every day. I began to recognize that
         the body is like clay, it can be shaped to your ideal form, through work and diet.
       </li >
       <li style="padding:8px"> I learn things joyfully, having more patience through the process, such as programming this site. The skills I needed
         to build innerstrengthaudios.com, took about 2 months to accumulate. I'm still progressing, but doing so with joy.
       </li >
       <li style="padding:8px"> I have stopped, trying to get to another place in life, or another set of circumstances, right here and right now, is
         actually quite amazing, and recognizing that and being grateful is something I now practice daily. To clarify I continue
          to improve, and make things better in my life, because I enjoy the process, not to make more money, or impress others, or
          because society dictates i must, but simply because the process of discovering and living from our essence deeply fufills me.
       </li>
</ul>

        Its for all these reasons and more, that I decided to create original audios. To contribute to others, through means that has helped
        me tremedously. Listening to audios, isn't some magic formula that is going to make you who you want to be, or give you
        the life of your dreams. It does however keep you focused, it helps to shut out the negative voices, the naysayers, and the
        disencouragement that isn't condusive to the achievement of our goals and dreams. The audios are not going to do the work for you
        but it will help refocus you daily, so you can find that inner strength and do the work, while enjoying the work you do.
        I sincerely wish for you a life that is lived fully, an inspired life, created by you with the innerstrength that you cultivate.
</p>
<p>
        All the best,
      </p>
      <p>
        D. S. Tarantini
  </p>




</div>
