<div class="container-fluid">
  <h3>INTRO</h3>
  <center>
      <iframe align-items:"center" width="650" height="350" src="https://www.youtube.com/embed/wRROYQi-EyM" frameborder="0" allowfullscreen></iframe>
  </center>
  <div class="article" style="margin-top:4px">
    <div class="row" style="padding:5px,">
      <div class="col-md-4" style="border-right: .5px solid #C0C0C0;">
        <div class="post" style="text-align: center">
          <h5> Dealing with Depression</h5>

            <div class="img">
            <a href="store"><img src="assets/jabon.jpg" class="post"/></a>
          </div>
          <p class="light"> Keeping the innermost facets of you strong, stand up for what you believe in,
             persist as your foolow your dreams.</p>
        </div>
      </div>
      <div class="col-md-4" style="border-right: .5px solid #C0C0C0;">
      <div class="post" style="text-align: center">
        <a href= "recomendations"> <h5> Finding Innerstrength</h5></a>
        <div class="img">
          <a href= "recomendations"><img src="assets/recomend.jpg" class="post"/></a>
        </div>
      <p class="light">From travel gear, to websites, to movies <a href="recomendations" style="color: #444444; text-decoration:underline">Check it out</a></p>
      </div>
      </div>
      <div class="col-md-4" style="padding-right:0%">
        <div class="post" style="text-align: center">
          <h5> Living Life from your Essence</h5>
          <div class="img">
            <a href="joinus"><img src="assets/joinus.jpg" class="post"/></a>
          </div>
          <p class="light"> Join Us, and access our Free content</p>
      </div>
    </div>
  </div>
</div>
</div>
