<div class="container-fluid">
<h1>Archive</h1>

<blockquote> "Creating a Vision requires Skill, Discovering a Vision within requires Inspiration. Both paths lead to Success,
  only one leads to fufillment. Live an Inspired life."
</blockquote>
</div>
